<h1>Result:</h1>

<% if @error %>
<p class = "error"><%= @error %></p>
<% else %>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Number</th>
            <th>Square</th>
        </tr>
        <% @numbers&.each_with_index do |numbers, i| %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= numbers %></td>
            <td><%= numbers * numbers %></td>
        </tr>
        <% end %>
    </table><br/>
<% end %>

<span><%= link_to "Repeat calculation", :palindromes_input %> </span>
